[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb
	branch = main
	ignore = dirty
[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools
	branch = main
[submodule "substrait"]
	path = substrait
	url = https://github.com/duckdb/substrait.git
	branch = main
[submodule "cucascade"]
	path = cucascade
	url = https://github.com/NVIDIA/cuCascade.git
	branch = release/26.02
[submodule "duckdb-python"]
	path = duckdb-python
	url = https://github.com/duckdb/duckdb-python.git
