build
.idea
cmake-build-debug
cmake-build-release
duckdb_unittest_tempdir/
.DS_Store
testext
test/python/__pycache__/
test/__pycache__/
.Rhistory
tpch-data/dbgen
.vscode/
*.duckdb
duckdb/*
CMakeFiles/
CMakeCache.txt
dbgen/
.venv
cufile.log
4stock_5day_avg_close.csv
