[submodule "duckdb"]
	path = duckdb
	url = https://github.com/duckdb/duckdb
	branch = main
	ignore = dirty
[submodule "extension-ci-tools"]
	path = extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools
	branch = main
[submodule "cucascade"]
	path = cucascade
	url = https://github.com/NVIDIA/cuCascade.git
	branch = release/26.02
[submodule "duckdb-python"]
	path = duckdb-python
	url = https://github.com/duckdb/duckdb-python.git
[submodule "doris/thirdparty/apache-doris"]
	path = doris/thirdparty/apache-doris
	url = https://github.com/apache/doris.git
[submodule "substrait"]
	path = substrait
	url = https://github.com/sirius-db/duckdb-substrait-extension.git
	branch = duckdb-1.4.4
[submodule "doris/thirdparty/nixl"]
	path = doris/thirdparty/nixl
	url = https://github.com/ai-dynamo/nixl.git
